@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
/*
    F683FF morado
    FFFB91 amarillo
    74FC8F verde

    #C4B7B1 gris 
    #CD9454 naranja
    #BA9241 amarillo
*/
*{
    margin: 0;    
    box-sizing: border-box;
    /* border: 1px solid red;  */
}
body{
    background-color: #C4B7B1;
}

header{
    
    background-color:#CD9454;
    color: #ffffff;    
    font-weight: bolder;
}
header>h1{
    
    vertical-align: middle;
    padding: 1vh;
}

.title, .container>h2{
    color: #ffffff;
}
.datosUbicacion, .etiquetas{
    text-align: center;
}

.btn-etiquetas{
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#listTags{
    margin-bottom: 2vh;
}

.container{
    text-align: center;
}

.coor{
    display: flex;    
    justify-content: space-between;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 5px;
    padding-right: 5px;
}

h2>a{
    text-decoration: none;
    font-size: x-large;
    color: #ffffff;
}

h2>a:active{
    color: #ffffff;
}


/*
header{    
    display: grid;
    background-color:#CD9454;
    color: #fff;
    margin-bottom: 2vh;
    
}

header h1{
    margin-top: 2vh;
}
header>h1>a{
    text-decoration: none
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2vh;
}
.item{
    color: #fff;
    font-size:x-large;
    border-radius: 7px;
    background-color: #BA9241;
    margin: 0 2vw;
    padding: 5px;

}

#listTags{
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}

#listTags>label{
    text-align: center;
    font-size: 16px;
    width: 30%;
}
#listTags>input{
    margin-right: 3px;
}
#listTags>span{
    text-align: center;
}
@media only screen and (max-width: 600px) {
    
    .main{
        display: grid;
        grid-template-areas: 
            "a a"
            "a a"
            "a a"
            "b b"
            "c c";
       
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    #bloque1{
        grid-area: a;
    }
    #bloque2{
        grid-area: b;
    }
    #bloque3{
        grid-area: c;
    }

    .datosUbicacion{
        display: grid;
        grid-template-areas: 
        "a1"
        "b2"
        "c3"
        "d4"
        "e5";        
        gap: 5px;
    }
    .datosUbicacion>div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 1vh;
    }

    .u1{
        grid-area: a1;
    }
    .u2{
        grid-area: b2;        
    }
    .u3{
        grid-area: c3;       
    }
    .u4{
        grid-area: d4;
    }
    .u5{
        grid-area: e5;
    }

    .etiquetas{
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-around;   
        column-gap: 5px; 
        margin: 2vh 0;  
    }

    .etiquetas>a{
        background-color: #FFFB91;
        padding: 5px 8px;
        text-align: center;
        width: 45vw;
        border-radius: 5px;
        text-decoration: none;
    }
}
@media (max-width: 750px){
    #listTags>label{
        width: 35%;
        text-align: left;
        font-size: 16px;
    }
}
@media (max-width: 400px){
    #listTags>label{
        width: 40%;
        text-align: left;
        font-size: 16px;
    }
}
    
/*
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFB91;
    width: 100%;
    height: 8vh;   
    margin-bottom: 1vh;
}

h1{
    color: #74FC8F;    
    text-align: center;
    align-self: center;
}
.main{    
    width: 100%;
    display: flex;
    flex-direction: column;
    
    gap: 15px;
}
.item{
    display: flex;
    flex-direction: row;
    background-color: rgb(246, 185, 255, 10);
    align-self: center;
    box-shadow: 5px 5px 5px;
    width: 80vw;
    
    border-radius: 5px;    
}
h3{
    text-align: center;
}
.bloque1{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.datosUbicacion{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2vh;
}
#sitio{
    width: 45vw;
    margin-left: 2vw;
    margin-bottom: 2vh;
}

#lat, #lon{
    width: 60vw;
}

*/